@charset "utf-8";

@import 'theme/color.scss' ;

@mixin border_radius( $radius ) {
  border-radius : $radius ;
  // Firefox
  -mozila-border-radius: $radius ;
    // Safari, Google Chrome
  -webkit-border-radius: $radius ;
}

@mixin text_ja {
  font: {
    family: "HiraKakuProN-W3" , "ヒラギノ" , "メイリオ" , "MS Gothic" ;
  }
}

@mixin text_en {
  font: {
    family: 'helvetica', 'verdana', 'arial' , 'sans-serif' , "HiraKakuProN-W3" , "ヒラギノ" , "メイリオ" ;
  }
}

%normalBorder {
  border: {
    style: solid ;
    width: 1px ;
    color: #{ $border_normal_color } ;
  }
}

%linkInDiv {
  position: relative ;
  a {
    display: block ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
  }
}
